
/*section 1 Header*/

body {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    flex-basis: 70%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 30%;
}

/*Section-2 Body*/
.section-2 {
    display: flex;
}

.section-2 .section-2-1 {
    flex-basis: 50%;
    justify-content: center;
}

.section-2 .section-2-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.section-2 .section-2-2 img {
    padding-left: 45%;
}

/*Section-3 Body*/

.section-3 {
    margin-top: -5%;
}

.section-3 a {
    text-decoration: underline;
}

/*Section-4 Body*/

.section-4 {
    margin-top: 5%;
}

.section-4-1 {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

/*Section-5 Body*/

.section-5 {
    margin-top: 5%;
}