
/*section 1 Header*/

body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Mulish', sans-serif;
}

.download {
    display: flex;
    align-items: self-end;
    justify-content: space-around;
    flex-basis: 40%;
    padding-top: 2%;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 2;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

header a, header a:link, header a:visited {
    color: #FFFAFA;
    text-decoration: none;
  }

header h1 {
    flex-basis: 60%;
}

#Project_header {
    flex-basis: 100%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 40%;
}


/*Section-2 Body*/
.section-2 {
    display: flex;
}

.section-2 .section-2-1 {
    flex-basis: 50%;
    justify-content: center;
}

.section-2 .section-2-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.section-2 .section-2-2 img {
    padding-left: 25%;
    padding-top: 5%;
    max-width: 175px; 
    height: 250px;
}

/*Section-3 Body*/

.section-3 {
    margin-top: -1%;
}

.section-3 a {
    text-decoration: underline;
}

.section-3-1 {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

/*Section-4 Body*/

.section-4 {
    margin-top: 5%;
}

.section-4-1 {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

/*Section-5 Body*/

.section-5 {
    margin-top: 5%;
}

/*Media Queries*/

@media screen and (max-width: 465px) {
    header nav {
        display: none;
    }

    header h1 {
        flex-basis: 100%;
    }

    .section-2 {
        display: flex;
        justify-content: center;
    }

    .section-2-2 img{
        display: none;
        width: 0%;
        max-width: 0%;
        max-height: 0%;
    }

    .section-2-2 {
        display: flex;
        max-width: 0%;
        max-height: 0%;
        flex-basis: 0%;
        flex: 0;
        overflow: hidden;
        flex-shrink: 100;
    }

    .section-2-1 {
        text-align: center;
        flex-basis: 100%;
        width: 100%;
        flex-grow: 2;
    }
    
    .section-4-1 {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-4-1 h4 {
        flex: 1 1 auto;
        width: auto;
    }

    .section-3-1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
} 

@media screen and (max-width: 580px) {
    .section-3-1 {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
}

@media screen and (max-width: 770px) {

    header h1 {
        flex-basis: 30%;
    }

    .section-2 {
        flex-wrap: wrap;
    }


    header nav {
        flex-basis: 70%;
    }

    .section-2-2 img {
        padding-top: 3%;
    }

    .userExperience img {
        max-width: 100%;
    }

}

@media screen and (max-width: 1350px) {

    .HowIDidIt img {
        max-width: 100%;
    }

}